
.welcome {
	font-family: impact;
}

.highscore {
	font-family: impact;
}

body {
	text-align: center;
	font-family: "Arial Black";
	color: white;
	background-color: black
}
.welcome {
	font-family: impact;
}

.highscore {
	font-family: impact;
}

a {
	color: white;
	padding-left: 50px;
	padding-right: 50px;
}
@font-face {
  font-family:Pixel Azure Bonds;
  src: url(/../assets/paz.otf) format("opentype");
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #202020;
	padding: 12px;
	margin: 0;
}

.view {
	margin-top: 70px;
}

#game {
	
	top: 50px;
	background-color: black;
	padding: 5px;
	height: 700px;
}

.game {

	background-color: black;
	height: 700px;
	padding: 5px;
}

canvas {
	margin: 0 auto;
}