.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-container {
	max-width: 400px;
}

.error-box {
  border: 2px solid #840000;
  border-radius: 3px;
  background-color: #ab3a3a;
}