<div>
  <h1>Sign Up</h1>
  <form class="form-container">
    <label for="username">Username:</label>
    <input type="text" id="username" ng-model="signupForm.username" required>
    <br />
    <label for="password">Password:</label>
    <input type="password" id="password" ng-model="signupForm.password" required>
    <br />
    <br />
    <button class="btn-primary" type="button" ng-click="signup()">Sign up</button>
  </form>
  <br>
  <br>
    <a href="/signin">Have an account already? Sign-in now!</a>
</div>