<div ng-controller="LeaderboardController">
  <link rel="stylesheet" href="./app/leaderboard/leaderboard.css">
  <nav>
    <a href='/game'>Join Game</a> |
    <a href='/profile'>Profile</a> |
    <a href='/leaderboard'>Leaderboard</a> |
    <a href ng-click='signout()'>Sign Out</a>
  </nav>

  <div class="leaderboard-container">
    <h3 class="leaderboard-title">Leaderboard</h3>
    <table>
      <tr>
        <th>Player</th>
        <th>Highscore</th>
      </tr>
      <tr ng-repeat='row in leaderboard | orderBy: "-highscore"'>
        <td>{{ row.player }}</td>
        <td>{{ row.highscore }}</td>
      </tr>
    </table>
  </div>
</div>